<%= form_for @book, url: book_path, remote: true do |f| %>
  <%= f.label t('book.name') %>
  <%= f.text_field :name, required: true %>

  <%= f.label :currency %>
  <%= f.text_field :currency_name, value: 'USD' %>

  <%= f.submit %>
<% end %>

<hr>

<div id="book-members">
  <% @book.user_memberships.each do |membership| %>
    <%= render partial: 'member_brief', locals: { name: membership.nickname || membership.user&.name } %>
  <% end %>
</div>

<%= form_for @book.user_memberships.new, url: book_create_member_path(@book), remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :nickname, required: true %>

  <%= f.submit t('book.create_member') %>
<% end %>
<div id="users-preview">
</div>

<hr>

<%= link_to t('cancel'), book_token_path(@book.token) %>

<script>
  $(document).on("turbolinks:load", function(event) {
    let input_nickname = $("#new_membership #membership_nickname");
    if (input_nickname.length > 0) {
      input_nickname[0].oninput = function(e) {
        if (e.target.value != "") {
          $.post("fetch_users", { word: input_nickname.val() });
        } else {
          $("#users-preview").html("");
        }
      };
    }
  });
</script>