
<div>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col"><%= t('book.id') %></th>
        <th scope="col"><%= t('book.name') %></th>
        <th scope="col"><%= t('book.owner') %></th>
        <th scope="col"><%= t('book.members') %></th>
        <th scope="col"><%= t('book.currency') %></th>
        <th scope="col"><%= t('book.updated_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= link_to book.name, book_path(book.token) %></td>
          <td><%= book.owner_membership.name %></td>
          <td><%= book.user_memberships.size %></td>
          <td><%= book.currency_name %></td>
          <td><%= book.updated_at %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

<hr>

<%= form_for current_user.books.new, url: books_path, remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :currency_name %>
  <%= f.text_field :currency_name, value: 'USD' %>
  
  <%= link_to t('cancel'), books_path %>
  <%= f.submit %>
<% end %>

<hr>
